<div id="comments">
    <ul>
        <li>
            <div class="comment-container">
                <div class="comment-face">
                    <span class="">
                        <img src="../../../../assets/images/car.png">
                    </span>
                    <span class="author">
                        شایان غزالی
                    </span>
                </div>
                <div class="comment-body">
                    <p>برای تماشای فیلم و گیم تو این رنج قیمت واقعا گزینه مناسبی هست و خونتون تبدیل به یه سینمای واقعی
                        میشه. بلندگوها برای پخش فیلم در منزل کاملا صدای کافی و شفافی دارند. برای پخش فیلم و یا اسناد
                        بصورت wifi میتونید از دانگل استفاده کنید و یا اگر دستگاه پخش کننده شما خودش WiFi داشته باشه که
                        الان اکثر دستگاهها دارند براحتی میتونید با یک کابل HDMI تصاویر را از ویدیو پروژکتور پخش کنید و
                        نیازی به دانگل هم ندارید. برای پخش با کیفیت تصاویر اگر محیط تاریک یا کم نور باشه تصاویر خیلی
                        خیلی بهتر میشه. لامپ با کیفیت و دوام عمر بالا بعد از کلی تحقبق از فروشندگان مختلف، در مقایسه با
                        مدلهای 3lcd اکثرا استفاده از پروژکتورها با لامپ مدل DLP را تائید کردند.</p>
                </div>
            </div>
        </li>
    </ul>
</div>