@use "sass:math";
@function toRem($value) {
    $remValue:  math.div($value, 16) + rem;
    @return $remValue;
}
:host {
    display: block;
    border-radius: toRem(20);

    div {
        background-color: #eee;

        box-shadow: 0 0 toRem(10) toRem(-3) black;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding: toRem(10);
        position: relative;
        &:first-child {
            background-image: url("../../../../assets/images/popular.jpg");
        }
        &:last-child {
            background-image: url("../../../../assets/images/seller.jpg");
        }
    }
    h1 {
        font-size: 1rem;
        font-weight: bold;
        background-color: var(--ion-color-primary);
        border-radius: toRem(12);
        padding: toRem(10);
        color: var(--ion-color-dark);
        border: 1px solid rgba(var(--ion-color-medium-rgb), 0.2);
    }
}

// -------------------------------------------
@media (max-width: 1400px) {
}
@media (max-width: 1200px) {
}
// desktop version
@media (min-width: 993px) and (min-height: 701px) {
    :host {
        width: 20vw;
        flex-grow: 1;
        align-self: flex-end;
        margin: 5px 0 1.5vw 1.5vw;
        padding: toRem(25) toRem(18);
        background-color: rgba(var(--ion-color-medium-rgb), 0.75);
        div {
            height: calc(50% - 10px);
            border-radius: toRem(12);
            &:first-child {
                margin-bottom: 20px;
            }
        }
    }
}
// mobile version
@media (max-width: 992px), (max-height: 700px) {
    :host {
        display: flex;
        padding: 0 4% 4rem 4%;
        gap: 1rem;
        margin-top: 50px;
        div {
            border: 5px solid var(--ion-color-light);
            border-radius: 20px;
            flex: 0 0 calc(50% - 0.5rem);
            max-width:calc(50% - 0.5rem);
            padding-top: 25%;
                 h1 {
            position: absolute;
            top: calc(100% + 5px);
            width: 70%;
            border-radius: 0 0 20px 40px;
            padding: 6px 10px 6px 5px;
        }
        }
    }
    
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
}
@media (max-width: 357px) {
}
