<div>
    <div class="placeholder-glow order-face">
        <span class="thumbnail placeholder"></span>
    </div>

    <div class="order-text">
        <div>
            <h3 class="placeholder-glow">
                <span class="placeholder col-10"></span>
            </h3>
            <div class="metadata-container placeholder-glow">
                <span class="placeholder col-6"></span>
                <span class="placeholder col-6"></span>
            </div>
        </div>
        <div>
            <span class="item-price placeholder-glow">
                <span class="placeholder col-6"></span>
            </span>
            <!-- <app-product-counter [(ngModel)]="product.count" (ngModelChange)="addToBasket()"></app-product-counter> -->
        </div>
    </div>

</div>
<nav class="placeholder-glow placeholder">
    <span class="placeholder col-2"></span>
    <span class="placeholder col-2"></span>
    <span class="placeholder col-2"></span>
</nav>