<app-page-title>مقالات</app-page-title>

<div class="list-container">
    <ul>
        <li>
            <article>
                <img class="article-thumbnail" src="assets/images/bmw.jpg">
                <div class="information">
                    <div class="author-datails">
                        <span class="profile-picture">
                            <img src="assets/images/bmw.jpg">
                        </span>
                        <span class="name">نویسنده : راپ یدک</span>
                    </div>
                    <div class="article-datails">
                        <div>
                            <h3 class="title">
                                <a [routerLink]="['/home']">
                                    مقاله خلاصه مقاله مقاله خلاصه مقاله مقاله خلاصه مقاله
                                </a>
                            </h3>
                            <time>یکشنبه 10 تیر 1399</time>
                        </div>
                        <p class="summary">خلاصه مقاله خلاصه مقاله خلاصه مقاله خلاصه مقاله خلاصه مقاله خلاصه مقاله خلاصه
                            مقاله خلاصه مقاله خلاصه مقاله</p>
                    </div>
                </div>
            </article>
        </li>
    </ul>
</div>